flowNodeRED
[{"id":"99b1c542.68e338","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"429d481c.838028","type":"telegram receiver","z":"99b1c542.68e338","name":"RFE_IOT_BOT_RECEIVER","bot":"14a17615.0863fa","saveDataDir":"","x":110,"y":60,"wires":[["38d51ee.794d1e2"],[]]},{"id":"d909cfcf.3b744","type":"telegram sender","z":"99b1c542.68e338","name":"RFE_IOT_BOT_SENDER","bot":"14a17615.0863fa","x":790,"y":420,"wires":[[]]},{"id":"9f006200.80ff","type":"http request","z":"99b1c542.68e338","name":"API_REQUEST","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=53.9006&lon=27.5590&&appid=7c7e857f68a2733477dece8a4791f79a","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":140,"wires":[["c6e4049b.66a6f8"]]},{"id":"5d2a08d8.f0f5e8","type":"switch","z":"99b1c542.68e338","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/temp","vt":"str"},{"t":"eq","v":"/humidity","vt":"str"},{"t":"eq","v":"/windspeed","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":90,"y":180,"wires":[["1a4d55d2.6498ea"],["1a4d55d2.6498ea"],["1a4d55d2.6498ea"],["c268c65b.852798"]]},{"id":"c268c65b.852798","type":"function","z":"99b1c542.68e338","name":"incorrectMsg","func":"msg.payload = 'Incorrect msg. Use commands.';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["8d2e03b5.57d6c"]]},{"id":"c6e4049b.66a6f8","type":"json","z":"99b1c542.68e338","name":"","property":"payload","action":"","pretty":false,"x":510,"y":140,"wires":[["c6101ac8.d6dcc8"]]},{"id":"c6101ac8.d6dcc8","type":"function","z":"99b1c542.68e338","name":"getTemp","func":"msg.payload = \"Temp: \" + (msg.payload.main.temp - 273.15).toFixed(1) + \"°C\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["8d2e03b5.57d6c"]]},{"id":"979aee26.3544b","type":"http request","z":"99b1c542.68e338","name":"API_REQUEST","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=35&lon=139&&appid=7c7e857f68a2733477dece8a4791f79a","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":180,"wires":[["8ed10b39.089948"]]},{"id":"78b21fbc.993a1","type":"http request","z":"99b1c542.68e338","name":"API_REQUEST","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=35&lon=139&&appid=7c7e857f68a2733477dece8a4791f79a","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":220,"wires":[["e3cde30d.65bed"]]},{"id":"8ed10b39.089948","type":"json","z":"99b1c542.68e338","name":"","property":"payload","action":"","pretty":false,"x":510,"y":180,"wires":[["dbbc5b4e.9dfb48"]]},{"id":"e3cde30d.65bed","type":"json","z":"99b1c542.68e338","name":"","property":"payload","action":"","pretty":false,"x":510,"y":220,"wires":[["6e020889.2bc5c8"]]},{"id":"dbbc5b4e.9dfb48","type":"function","z":"99b1c542.68e338","name":"getHumidity","func":"msg.payload = \"Humidity: \" + msg.payload.main.humidity + \"%\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":180,"wires":[["8d2e03b5.57d6c"]]},{"id":"6e020889.2bc5c8","type":"function","z":"99b1c542.68e338","name":"getWindSpeed","func":"msg.payload = \"Speed of wind: \" + msg.payload.wind.speed + \"km/h\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["8d2e03b5.57d6c"]]},{"id":"38d51ee.794d1e2","type":"function","z":"99b1c542.68e338","name":"getChatID","func":"flow.set('chatid',msg.payload.chatId);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":60,"wires":[["5d2a08d8.f0f5e8"]]},{"id":"8d2e03b5.57d6c","type":"function","z":"99b1c542.68e338","name":"sendData","func":"var str=msg.payload;\n\nmsg.payload = {\n    \"chatId\" : flow.get('chatid'),\n    \"transport\" : \"telegram\",\n    \"content\" : str,\n    \"type\": \"message\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":420,"wires":[["d909cfcf.3b744"]]},{"id":"1a4d55d2.6498ea","type":"debug","z":"99b1c542.68e338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":360,"wires":[]},{"id":"14a17615.0863fa","type":"telegram bot","z":"","botname":"RFE_IOT_BOT","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
